<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

function accept(id) {
	$.post( "/accept/" + id, function(data) {
		$('#' + id).fadeOut(500, function() {
			$('#' + id).remove();
		});
	});
}

function reject(id) {
	$.post( "/reject/" + id, function(data) {
		$('#' + id).fadeOut(500, function() {
			$('#' + id).remove();
		});
	});
}
</script>


<% toasts.forEach(function(toast, index) { %>
	<div id="<%= toast.id %>">
		<%= toast.name %><br>
		<%= toast.text %><br>
		<div style="background-image: url(/unauthorized/<%= toast.image %>);
	  background-size: contain;

	  background-position: center;
	  background-repeat: no-repeat;
	  height: 300px;
	  width: 300px;"> </div>
	  <button onClick="accept('<%= toast.id %>')">允許</button><button onClick="reject('<%= toast.id %>')">拒絕並刪除</button>
	  <hr>
	</div>
<% }); %>
