<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>

function accept(fbId) {
	$.post( "/accept/" + fbId, function(data) {
		$('#' + fbId).fadeOut(500, function() {
			$('#' + fbId).remove();
		});
	});
}

function reject(fbId) {
	$.post( "/reject/" + fbId, function(data) {
		$('#' + fbId).fadeOut(500, function() {
			$('#' + fbId).remove();
		});
	});
}
</script>


<% toasts.forEach(function(toast, index) { %>
	<div id="<%= toast.fbId %>">
		<%= toast.name %><br>
		<%= toast.text %><br>
		<div style="background-image: url(/unauthorized/<%= toast.image %>);
	  background-size: contain;

	  background-position: center;
	  background-repeat: no-repeat;
	  height: 300px;
	  width: 300px;"> </div>
	  <button onClick="accept('<%= toast.fbId %>')">允許</button><button onClick="reject('<%= toast.fbId %>')">拒絕並刪除</button>
	  <hr>
	</div>
<% }); %>
