<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>

function accept(fbId) {
	$.post( "/accept/" + fbId, function(data) {
		$('#' + fbId).fadeOut(500, function() {
			$('#' + fbId).remove();
		});
	});
}

function reject(fbId) {
	$.post( "/reject/" + fbId, function(data) {
		$('#' + fbId).fadeOut(500, function() {
			$('#' + fbId).remove();
		});
	});
}
</script>


<% toasts.forEach(function(toast, index) { %>
	<div id="<%= toast.fbId %>">
		<%= toast.name %><br>
		<%= toast.text %><br>
		<div style="background-image: url(<%= toast.image %>);
	  background-size: contain;

	  background-position: center;
	  background-repeat: no-repeat;
	  height: 300px;
	  width: 300px;"> </div>
	  <button onClick="accept('<%= toast.fbId %>')">允許</button><button onClick="reject('<%= toast.fbId %>')">拒絕並刪除</button>
	  <hr>
	</div>
<% }); %>



<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<style>
.toast {
    position: absolute;
}
</style>

<div class='toast' id='toast0'>
	<div id='name0'></div>
	<div id='text0'></div>
	<div id='image0'
	style="background-image: url('');
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  height: 300px;
	  width: 300px;"></div>
</div>

<div class='toast' id='toast1'>
	<div id='name1'></div>
	<div id='text1'></div>
	<div id='image1'
	style="background-image: url('');
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	  position: absolute;
	  height: 300px;
	  width: 300px;"></div>
</div>
<script>

var toasts = <%- JSON.stringify(toasts) %>;
var index = 1;
var FADE_IN_OUT_TIME = 2000;
var INTERVAL = 5000;
if (0 == toasts.length) {
	// do nothing
} else if (1 == toasts.length) {
	changeToast(0, toasts[0]);
} else {
	changeToast(0, toasts[0]);
	changeToast(1, toasts[1]);
	$('#toast1').hide()


	switchToast();
	setInterval(switchToast, INTERVAL);
}

function switchToast() {
	index = (index + 1) % toasts.length;

	if (index % 2 == 0) {
		$('#toast0').fadeOut(FADE_IN_OUT_TIME, function() {
			changeToast(0, toasts[index]);
		});
		$('#toast1').fadeIn(FADE_IN_OUT_TIME);
	} else {
		$('#toast0').fadeIn(FADE_IN_OUT_TIME);
		$('#toast1').fadeOut(FADE_IN_OUT_TIME, function() {
			changeToast(1, toasts[index]);
		});
	}
};

function changeToast(index, toast) {
	$('#name' + index).text(toast.name);
	$('#text' + index).text(toast.text);
	$('#image' + index).css('background-image', "url(" + toast.image + ")");
}

</script>
-->
